/problema2/prof/nbproject/private/
/problema1/Estudiante/nbproject/private/
/problema2/prof/build/
/problema3/Automovil/nbproject/private/
/problema3/Automovil/build/
/problema4/Cheque/nbproject/private/
/problema4/Cheque/build/
